@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf')
    format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
    @apply scroll-pt-40;
    @apply scroll-smooth;
  }

  :root {
    --color-honey-100: #faecd4;
    --color-honey-200: #f5d8a8;
    --color-honey-300: #f0c57d;
    --color-honey-400: #ebb151;
    --color-honey-500: #e69e26;
    --color-honey-600: #b87e1e;
    --color-honey-700: #8a5f17;
    --color-honey-800: #5c3f0f;
    --color-honey-900: #2e2008;

    --color-secondary-500: #263238;

    --color-gold-500: #e6c06e;

    --color-error-500: #e53835;
    --color-success-500: #2e7d31;
    --color-warning-500: #fbc02d;
  }
}

.theme-light {
  --primary: var(--color-honey-500);
  --primary-100: var(--color-honey-100);
  --primary-200: var(--color-honey-200);
  --primary-300: var(--color-honey-300);
  --primary-400: var(--color-honey-400);
  --primary-600: var(--color-honey-600);
  --primary-700: var(--color-honey-700);
  --primary-800: var(--color-honey-800);
  --primary-900: var(--color-honey-900);

  --secondary: var(--color-secondary-500);
  --accent: var(--color-gold-500);
}

.theme-dark {
  --primary: var(--color-honey-500);
  --primary-100: var(--color-honey-100);
  --primary-200: var(--color-honey-200);
  --primary-300: var(--color-honey-300);
  --primary-400: var(--color-honey-400);
  --primary-600: var(--color-honey-600);
  --primary-700: var(--color-honey-700);
  --primary-800: var(--color-honey-800);
  --primary-900: var(--color-honey-900);

  --secondary: var(--color-secondary-500);
  --accent: var(--color-gold-500);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}
